.backToTopButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--primary-color);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex; /* Use flex for centering icon */
    align-items: center;
    justify-content: center;
    z-index: 1001;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    text-decoration: none;
    border: none; /* Remove default button border */
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.backToTopButton.show {
    opacity: 1;
    visibility: visible;
}

.backToTopButton:hover {
    background-color: #6fa9f3;
    transform: translateY(-3px);
}