

:root {
  --primary-blue: #5D9CEC;
  --secondary-blue: #EAF2FF;
  --text-dark: #333333;
  --text-light: #ffffff;
  --text-grey: #555555;
  --border-color: #DDDDDD;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F0F2F5;
  color: var(--text-dark);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}